@import "tailwindcss";

@theme {
  --color-bg: #1e201e;
  --color-primary: #000000;
  --color-accent: #000000;
  --color-secondary: #3c3d37;
  --color-chat-user: #ffffff;
  --color-chat-assistant: #ecdfcc;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-primary);
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .typing-indicator {
    display: flex;
    gap: 5px;
  }

  .typing-indicator span {
    width: 8px;
    height: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    animation: typing 1.4s infinite ease-in-out both;
  }

  .typing-indicator span:nth-child(1) {
    animation-delay: 0s;
  }

  .typing-indicator span:nth-child(2) {
    animation-delay: 0.2s;
  }

  .typing-indicator span:nth-child(3) {
    animation-delay: 0.4s;
  }

  @keyframes typing {
    0%,
    80%,
    100% {
      transform: scale(0.6);
    }
    40% {
      transform: scale(1);
    }
  }
}
