@import "tailwindcss";

@theme {
  --color-bg: #eae4d5;
  --color-primary: #000000;
  --color-accent: #000000;
  --color-secondary: #f2f2f2;
  --color-chat: #b6b09f;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-primary);
  }
}

@layer utilities {
}
