@import "tailwindcss";

@theme {
  --color-bg: #1e201e;
  --color-primary: #000000;
  --color-accent: #000000;
  --color-secondary: #3c3d37;
  --color-chat-user: #ffffff;
  --color-chat-assistant: #ecdfcc;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-primary);
  }
}

@layer utilities {
}
